<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newaccount</servlet-name>
        <servlet-class>newaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PataintLogin</servlet-name>
        <servlet-class>PataintLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pataintapointment</servlet-name>
        <servlet-class>pataintapointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PataintLogout</servlet-name>
        <servlet-class>PataintLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pataintupdateinfo</servlet-name>
        <servlet-class>pataintupdateinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReciptLogin</servlet-name>
        <servlet-class>ReciptLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resptupdateinfo</servlet-name>
        <servlet-class>resptupdateinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResptLogout</servlet-name>
        <servlet-class>ResptLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>presenty</servlet-name>
        <servlet-class>presenty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogout</servlet-name>
        <servlet-class>DoctorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorupdateinfo</servlet-name>
        <servlet-class>doctorupdateinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finalbooking</servlet-name>
        <servlet-class>finalbooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admlogin</servlet-name>
        <servlet-class>admlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminupdateinfo</servlet-name>
        <servlet-class>adminupdateinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resptaccount</servlet-name>
        <servlet-class>resptaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctoraccount</servlet-name>
        <servlet-class>doctoraccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResptDelete</servlet-name>
        <servlet-class>ResptDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorDelete</servlet-name>
        <servlet-class>DoctorDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientBill</servlet-name>
        <servlet-class>PatientBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatiBillFrmResp</servlet-name>
        <servlet-class>PatiBillFrmResp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newaccount</servlet-name>
        <url-pattern>/newaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PataintLogin</servlet-name>
        <url-pattern>/PataintLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pataintapointment</servlet-name>
        <url-pattern>/pataintapointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PataintLogout</servlet-name>
        <url-pattern>/PataintLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pataintupdateinfo</servlet-name>
        <url-pattern>/pataintupdateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReciptLogin</servlet-name>
        <url-pattern>/ReciptLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resptupdateinfo</servlet-name>
        <url-pattern>/resptupdateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResptLogout</servlet-name>
        <url-pattern>/ResptLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>presenty</servlet-name>
        <url-pattern>/presenty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogout</servlet-name>
        <url-pattern>/DoctorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorupdateinfo</servlet-name>
        <url-pattern>/doctorupdateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finalbooking</servlet-name>
        <url-pattern>/finalbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admlogin</servlet-name>
        <url-pattern>/admlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminupdateinfo</servlet-name>
        <url-pattern>/adminupdateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resptaccount</servlet-name>
        <url-pattern>/resptaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctoraccount</servlet-name>
        <url-pattern>/doctoraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResptDelete</servlet-name>
        <url-pattern>/ResptDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorDelete</servlet-name>
        <url-pattern>/DoctorDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientBill</servlet-name>
        <url-pattern>/PatientBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatiBillFrmResp</servlet-name>
        <url-pattern>/PatiBillFrmResp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
